######################################################################
# Requirements for python scripts
######################################################################
#
# This file contains the necessary requirements to
# run the python scripts in archives to create
# combine archives.
#
#   mkvirtualenv sedml-test-suite
#   (sedml-test-suite) pip install -r requirements.txt
#
######################################################################

python-libcombine>=0.2.1
beautifulsoup4>=4.6.0
requests>=2.18.4



